.buypro-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.buypro-header {
  width: 100%;
  height: 10vh;
  display: flex;
  //padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 100%;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}
.buypro-header1 {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 100%;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.buypro-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.buypro-image {
  width: 100px;
  object-fit: cover;
}
.buypro-text {
  color: #ffffff;
}
.buypro-menu {
  width: 100%;
  height: 26px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.buypro-navlink {
  color: #ffffff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.buypro-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-text01:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-link {
  color: #ffffff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.buypro-link:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-link1 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.buypro-link1:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-text03:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-link2 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.buypro-link2:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-link3 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.buypro-link3:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-text08 {
  color: var(--dl-color-gray-700);
  transition: 0.3s;
  margin-right: 0px;
}
.buypro-text08:hover {
  color: var(--dl-color-turquoise-default);
}
.buypro-container01 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.buypro-link4 {
  display: contents;
}
.buypro-image1 {
  width: 170px;
  height: 3.5rem;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.buypro-link5 {
  display: contents;
}
.buypro-image2 {
  width: 170px;
  height: 3.6rem;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.buypro-link6 {
  display: contents;
}
.buypro-image3 {
  width: 170px;
  height: 3.6rem;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.buypro-container02 {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.buypro-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buypro-text11 {
  color: #ffffff;
  font-size: 60px;
}
.buypro-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buypro-container05 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 100px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding-left: 10%;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 5%;
  flex-direction: column;
  padding-bottom: 100px;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.buypro-container06 {
  width: 480px;
  height: 800px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  box-shadow: 5px 5px 10px 0px #131313;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.buypro-text14 {
  color: rgb(255, 255, 255);
}
.buypro-container07 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 30%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 0px;
  justify-content: flex-start;
}
.buypro-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.buypro-text17 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: flex-start;
}
.buypro-container09 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 20%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 0px;
  justify-content: flex-start;
}
.buypro-link7 {
  width: 351px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.buypro-link7:hover {
  color: #ffffff;
  background-color: #323232;
}
.buypro-icon {
  width: 24px;
  height: 24px;
}
.buypro-text23 {
  font-size: 25px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.buypro-link8 {
  width: 351px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.buypro-link8:hover {
  color: #ffffff;
  background-color: #323232;
}
.buypro-icon2 {
  width: 24px;
  height: 24px;
}
.buypro-text26 {
  font-size: 25px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.buypro-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 100px;
  border-color: #ffffff;
  border-width: 1px;
  padding-left: 5%;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 100px;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.buypro-container11 {
  width: 480px;
  height: 800px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.buypro-text29 {
  color: #000000;
}
.buypro-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.buypro-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 40%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.buypro-text34 {
  font-weight: 400;
}
.buypro-text35 {
  font-style: normal;
  font-weight: 700;
}
.buypro-text39 {
  font-style: normal;
  font-weight: 700;
}
.buypro-text43 {
  font-style: normal;
  font-weight: 700;
}
.buypro-button {
  color: #ffffff;
  width: 351px;
  display: flex;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #0002a1;
}
.buypro-button:hover {
  color: #000000;
  background-color: #cecece;
}
.buypro-icon4 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.buypro-text48 {
  font-size: 25px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.buypro-button1 {
  color: #ffffff;
  width: 351px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #ff9800;
}
.buypro-button1:hover {
  color: #000000;
  background-color: #cecece;
}
.buypro-icon6 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin: 0px;
}
.buypro-text49 {
  font-size: 25px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .buypro-container01 {
    display: none;
  }
}
@media(max-width: 991px) {
  .buypro-container01 {
    display: none;
  }
  .buypro-container05 {
    padding: 20px;
    border-width: 0px;
  }
  .buypro-container06 {
    margin: 10px;
  }
  .buypro-container10 {
    padding: 20px;
    border-width: 0px;
  }
  .buypro-container11 {
    margin: 10px;
  }
}
@media(max-width: 767px) {
  .buypro-header1 {
    width: 100%;
    padding: 0px;
    flex-direction: column;
  }
  .buypro-logo {
    width: auto;
  }
  .buypro-menu {
    width: 767px;
    height: 26px;
    margin: 0px;
    align-self: center;
    margin-left: 0%;
    justify-content: center;
  }
  .buypro-link {
    margin-right: 20;
  }
  .buypro-link1 {
    margin-right: 20px;
  }
  .buypro-link2 {
    margin-right: 20px;
  }
  .buypro-link3 {
    margin-right: 20px;
  }
  .buypro-text08 {
    margin-right: 0px;
  }
  .buypro-container01 {
    display: none;
  }
  .buypro-text11 {
    margin-top: var(--dl-space-space-unit);
  }
  .buypro-container05 {
    border-width: 0px;
  }
  .buypro-container06 {
    width: auto;
    margin: 20px;
    padding: 20px;
  }
  .buypro-container10 {
    border-width: 0px;
  }
  .buypro-container11 {
    width: auto;
    margin: 20px;
    padding: 10px;
  }
}
@media(max-width: 479px) {
  .buypro-container {
    padding: 0px;
  }
  .buypro-header {
    padding: 0px;
    flex-direction: column;
  }
  .buypro-menu {
    width: 100%;
    height: 26px;
    margin-right: 0px;
  }
  .buypro-navlink {
    margin-right: 20px;
  }
  .buypro-container01 {
    display: none;
  }
  .buypro-text11 {
    display: none;
  }
  .buypro-container04 {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
  }
  .buypro-container05 {
    width: 100%;
    height: auto;
    padding: 0px;
    padding-top: 0px;
    border-width: 0px;
    border-right-left: 0px;
    border-right-width: 0px;
  }
  .buypro-container06 {
    width: auto;
    height: 800px;
    margin: 0px;
    padding: var(--dl-space-space-doubleunit);
  }
  .buypro-container10 {
    width: 100%;
    height: auto;
    padding: 0px;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .buypro-container11 {
    width: auto;
    height: 800px;
    margin: 0px;
    padding: var(--dl-space-space-doubleunit);
  }
}
