.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #212529;
}
.login-container2 {
  width: 466px;
  height: 622px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #323232;
}
.login-icon {
  fill: #ffffff;
  width: 90px;
  height: 90px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.login-container3 {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: flex-start;
}
.login-container4 {
  width: 100%;
  height: 401px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.login-text04 {
  color: rgb(108, 108, 108);
}
.login-textinput {
  color: #ffffff;
  width: 388px;
  border-color: #0db8de;
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-width: 2px;
}
.login-text07 {
  color: rgb(108, 108, 108);
  margin-top: var(--dl-space-space-unit);
}
.login-textinput1 {
  color: #ffffff;
  width: 388px;
  border-color: #0DB8DE;
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-width: 2px;
}
.login-container5 {
  width: 100%;
  height: 134px;
  display: flex;
  align-items: flex-start;
}
.login-button {
  width: 135px;
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-gray-white);
}
