[Desktop Entry]
Name=DuckSploit
Comment=V1.0.9
Encoding=UTF-8
Exec=ds
Icon=/usr/share/DuckSploit/icons/icon.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-Kali-Package=DuckSploit
