[Desktop Entry]
Name=DuckSploit
Comment=V1.0.8
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "ds"
Icon=/usr/share/DuckSploit/icons/icon.png
StartupNotify=false
Terminal=true
Type=Application
Categories=DuckSploit
X-Kali-Package=DuckSploit
