.primary-button-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.primary-button-button {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  align-self: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 600;
  padding-top: 12px;
  border-width: 0px;
  padding-left: 150px;
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: 150px;
  padding-bottom: 12px;
  text-transform: none;
  text-decoration: none;
  background-color: #8c30f5ff;
}

.primary-button-button:hover {
  color: 8c30f5ff;
  font-size: 25px;
  align-self: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 600;
  padding-top: 12px;
  border-width: 0px;
  padding-left: 150px;
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: 150px;
  padding-bottom: 12px;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}


.home-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-header {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 100%;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-text {
  color: #ffffff;
}
.home-menu {
  width: 100%;
  height: 26px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 10%;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text01 {
  color: var(--dl-color-gray-700);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text01:hover {
  color: var(--dl-color-turquoise-default);
}
.home-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.home-link {
  color: #ffffff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link:hover {
  color: var(--dl-color-turquoise-default);
}
.home-link01 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link01:hover {
  color: var(--dl-color-turquoise-default);
}
.home-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.home-link02 {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  text-decoration: none;
}
.home-link02:hover {
  color: var(--dl-color-turquoise-default);
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-container01 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-link03 {
  display: contents;
}
.home-image1 {
  width: 170px;
  height: 3.5rem;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-link04 {
  display: contents;
}
.home-image2 {
  width: 170px;
  height: 3.6rem;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-link05 {
  display: contents;
}
.home-image3 {
  width: 170px;
  height: 3.6rem;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.home-container02 {
  width: 100%;
  height: 90vh;
  display: flex;
  overflow: scroll;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
  scrollbar-color: black #323232;
}
.home-container03 {
  width: 100%;
  height: 2000px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/bg-2000h.gif");
}
.home-container04 {
  flex: 0 0 auto;
  width: 1250px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #0e0e0e;
}
.home-container05 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text09 {
  font-size: 80px;
}
.home-link06 {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.home-image4 {
  width: 600px;
  height: 600px;
  object-fit: cover;
}
.home-pricing {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-container07 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: flex-start;
  justify-content: center;
}
.home-container08 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
}
.home-text18 {
  color: rgb(89, 89, 89);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.home-container09 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-container10 {
  flex: 1;
  height: 498px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.home-container10:hover {
  transform: scale(1.02);
}
.home-text23 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text24 {
  margin: 32px;
  font-size: 4rem;
  font-weight: 200;
}
.home-text25 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text27 {
  font-weight: 400;
}
.home-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text30 {
  font-weight: 700;
}
.home-text33 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text35 {
  font-style: normal;
  font-weight: 400;
}
.home-link07 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-container11 {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 496px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-black);
}
.home-container11:hover {
  transform: scale(1.02);
}
.home-text39 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-text42 {
  margin: 32px;
  font-size: 4rem;
  font-weight: 200;
}
.home-text43 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text44 {
  font-style: normal;
  font-weight: 700;
}
.home-text47 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text49 {
  font-style: normal;
  font-weight: 700;
}
.home-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text51 {
  font-weight: 700;
}
.home-text54 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-link08 {
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #000000;
}
.home-container12 {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-image5 {
  width: 150px;
  height: 57px;
}
.home-text60 {
  color: #ffffff;
  margin-top: 24px;
}
.home-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container13 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text64 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-link09 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container15 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text67 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-link10 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text70 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-link11 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container18 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .home-container01 {
    display: none;
  }
  .home-container07 {
    align-items: center;
    flex-direction: column;
  }
  .home-container08 {
    align-items: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-container09 {
    width: 100%;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container12 {
    align-items: center;
  }
  .home-links-container {
    width: auto;
    margin-top: 32px;
    flex-direction: row;
  }
  .home-container13 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-menu {
    display: none;
  }
  .home-container07 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-container10 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-container11 {
    width: 100%;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-image5 {
    margin-bottom: 24px;
  }
  .home-links-container {
    width: auto;
    margin-top: 32px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container13 {
    width: 100%;
    justify-content: space-between;
  }
  .home-container15 {
    margin-top: 32px;
  }
  .home-container16 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-container01 {
    display: none;
  }
  .home-container07 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-image5 {
    margin-bottom: 0px;
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container13 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .home-container14 {
    margin-right: var(--dl-space-space-unit);
  }
}
