* {
    margin: 0;
    padding: 0;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(assets/images/bg.gif);
    background-position: center;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-widith: 100%;
    background-repeat: no-repeat;
}

#banner {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200%;
	weight: 400px;
	height: 290px;
}

#version {
    position: relative;
    top: 30%;
    left: 42%;
	color: #FFFFFF;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 30px;
    max-width: 200%;
	weight: 400px;
	height: 300px;
}

.buttons {
    position: relative;
    top: 10%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.download {
    display: inline-flex;
    height: 75px;
    padding: 0;
    background: #008009;
    border: none;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.download:hover {
    background: #004f05;
}

.download:active {
    background: #006907;
}

.github {
    display: inline-flex;
    height: 75px;
    padding: 0;
    background: #171515;
    border: none;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.github:hover {
        background: #080707;
}

.github:active {
    background: #1c1818;
}

.discord {
    display: inline-flex;
    height: 75px;
    padding: 0;
    background: #5865F2;
    border: none;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.discord:hover {
        background: #6478BC;
}

.discord:active {
    background: #5F71AD;
}

.button__text,
.button__icon {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08)
}
