.button-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.button-button {
  color: #ffffff;
  width: 246px;
  height: auto;
  display: flex;
  align-self: center;
  text-align: left;
  padding-top: var(--dl-space-space-halfunit);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #323232;
}
.button-image {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-top: 0px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.button-text {
  font-size: 1rem;
  align-self: center;
  text-align: left;
  font-family: Arial;
}
.button-root-class-name1 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name2 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name4 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name7 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name8 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name9 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name10 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name12 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name13 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name11 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name14 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name15 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name16 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name17 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name18 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name19 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name20 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name21 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name22 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name23 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name24 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name25 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name26 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name27 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name28 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name29 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name30 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name31 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name3 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name5 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name6 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name32 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name33 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name34 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name35 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name37 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name38 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name39 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name40 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name41 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name36 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name42 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name43 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name44 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name45 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name47 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name48 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name49 {
  width: auto;
  height: auto;
  background-color: #000000;
}
.button-root-class-name50 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name51 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name53 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  background-color: #000000;
}
.button-root-class-name54 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button-root-class-name55 {
  width: auto;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}

.button1-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.button1-button {
  color: #323232;
  width: 246px;
  height: auto;
  display: flex;
  align-self: center;
  text-align: left;
  padding-top: var(--dl-space-space-halfunit);
  border-style: solid;
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.button1-image {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-top: 0px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.button1-text {
  font-size: 1rem;
  align-self: center;
  text-align: left;
  font-family: Arial;
}
.button1-root-class-name {
  width: 100%;
  height: auto;
}
.button1-root-class-name1 {
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button1-root-class-name2 {
  width: 100%;
  height: auto;
}
.button1-root-class-name3 {
  width: 100%;
  height: auto;
}
.button1-root-class-name6 {
  height: 100%;
  margin-top: var(--dl-space-space-twounits);
}
.button1-root-class-name4 {
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}
.button1-root-class-name5 {
  height: auto;
  margin-top: var(--dl-space-space-twounits);
}

.screenshot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
}
.screenshot-sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.screenshot-link {
  display: contents;
}
.screenshot-image {
  width: 100%;
  height: auto;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.screenshot-container1 {
  flex: 1;
  width: 248px;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.screenshot-nav {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.screenshot-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.screenshot-navlink {
  display: contents;
}
.screenshot-component {
  text-decoration: none;
}
.screenshot-link1 {
  display: contents;
}
.screenshot-component1 {
  text-decoration: none;
}
.screenshot-navlink1 {
  display: contents;
}
.screenshot-component2 {
  text-decoration: none;
}
.screenshot-navlink2 {
  display: contents;
}
.screenshot-component3 {
  text-decoration: none;
}
.screenshot-navlink3 {
  display: contents;
}
.screenshot-component4 {
  text-decoration: none;
}
.screenshot-link2 {
  display: contents;
}
.screenshot-component5 {
  text-decoration: none;
}
.screenshot-link3 {
  display: contents;
}
.screenshot-component6 {
  text-decoration: none;
}
.screenshot-navlink4 {
  display: contents;
}
.screenshot-profile {
  flex: 0;
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #323232;
}
.screenshot-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.screenshot-container3 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.screenshot-text {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.screenshot-text03 {
  color: rgb(238, 238, 238);
  font-size: 0.75rem;
}
.screenshot-container4 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #323232;
}
.screenshot-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.screenshot-stats {
  width: 100%;
  height: 20vh;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.screenshot-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.screenshot-text04 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.screenshot-text05 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-text06 {
  color: #afafaf;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.screenshot-text09 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.screenshot-text10 {
  color: #ffffff;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-text13 {
  color: rgb(175, 175, 175);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.screenshot-text16 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.screenshot-text17 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-text20 {
  color: rgb(175, 175, 175);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.screenshot-text23 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.screenshot-text24 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-text27 {
  color: #afafaf;
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.screenshot-link4 {
  display: contents;
}
.screenshot-image2 {
  top: 0px;
  right: 0px;
  width: 120px;
  height: 120px;
  margin: auto;
  z-index: 9999;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .screenshot-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .screenshot-image1 {
    margin-left: 0px;
  }
  .screenshot-text04 {
    text-align: center;
  }
  .screenshot-text09 {
    text-align: center;
  }
  .screenshot-text16 {
    text-align: center;
  }
  .screenshot-text23 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .screenshot-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .screenshot-text05 {
    text-align: center;
  }
  .screenshot-text10 {
    text-align: center;
  }
  .screenshot-text17 {
    text-align: center;
  }
  .screenshot-text24 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .screenshot-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
